.jumbotron {
  text-align: center;
  background-color: green;
  font-family: courier;
}

.btn {
  margin-top: 1rem;
}

.rateResult {
  font-size: large;
}

.error {
  color: red;
  font-size: large;
}